h1{
	text-align:center;
}

body{
	text-align:center；
	
  background:#ec6a38;
  -webkit-animation:colour 10s linear infinite;
  -moz-animation:colour 10s linear infinite;
  
}
@-webkit-keyframes colour{
  0%{
    background:#ec6a38
  }

  40%{
    background:#ec4038
  }

  80%{
    background:#ec9138
  }

  100%{
    background:#ec6a38
  }

}

@-moz-keyframes colour{
  0%{
    background:#ec6a38
  }

  40%{
    background:#ec4038
  }

  80%{
    background:#ec9138
  }

  100%{
    background:#ec6a38
  }

}
}
style{
	example{
        margin: auto;
    }
}

#cameraBtn {
  padding: 20px 50px;
  font-size: 24px;
  border-radius: 12px;
  background-color: #007BFF;
  color: white;
  border: none;
  cursor: pointer;
  user-select: none;
  margin: 20px auto;
  display: block;
  transition: background-color 0.3s ease;
}
#cameraBtn:hover {
  background-color: #0056b3;
}



